@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap');
@media only screen and (max-width: 37.5em) {
    .main-header .header-item img{
        margin: 0 auto;
        height: 10rem;
        width: 10rem;
    }
    /* .main-header .header-item .price-tag {
        position: absolute;
        left: 86%;
        top: 67%;
    } */
    .header-vector-1{
        position: absolute;
        height: 50%;
    }
    .header-vector-2{
        position: absolute;
        height: 50%;
    }
    .header-vector-3{
        position: absolute;
        height: 50%;    
    }
    .product-tag{
        top: 68%;
        left: 60%;
    }
    .logoImage img {
        width:90%;
    }
  }

.mobile-carousel {
    display:none;
}
#mobile-navbar {
    display:none;
}
#mobile-navbar a {
    color:black;
}

@media only screen and (max-width: 600px) {
    .mobile-carousel {
        display:block;
    }
    .carousel {
        display:none;
    }
    #mobile-navbar {
        display: flex;
    }
    #main-navbar {
        display:block;
    }
    .subNav {
        height: 40px;
    }
    .subNav > a {
        font-family: 'Open Sans';
        font-weight: 400;
    }
    /* .single-item img{
        min-height: 0;
    } */
}  